# Phase 0 Notebook

## Load data

In [21]:
import pandas as pd

eod_data = pd.read_parquet('/home/noahg/MATH316/project2/data/0004691-251025141854904.parquet')
print(len(eod_data))
eod_data['eventDate'] = pd.to_datetime(eod_data['eventDate'], errors='coerce')
eod_data.head(n=5)

30969425

,family,genus,species,countryCode,locality,stateProvince,individualCount,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,eventDate
0,Parulidae,Basileuterus,Basileuterus culicivorus,CO,Finca La Esmeralda - El Cairo - Valle del Cauc...,Valle del Cauca,1.0,4.733494,-76.209640,NaN,2020-07-04
1,Cathartidae,Coragyps,Coragyps atratus,TT,Arena Forest,Couva-Tabaquite-Talparo,NaN,10.569455,-61.248222,NaN,2017-03-29
2,Ardeidae,Egretta,Egretta caerulea,TT,Rahamut Trace,Siparia,2.0,10.200900,-61.481125,NaN,2020-09-06
3,Parulidae,Setophaga,Setophaga pitiayumi,AR,Cañada de Grass,Santa Fe,1.0,-29.918184,-60.310024,NaN,2020-05-01
4,Ardeidae,Zebrilus,Zebrilus undulatus,BR,Alta Floresta--rio Santa Helena,Mato Grosso,2.0,-9.926295,-56.308765,NaN,2016-02-20

## Get counts data

Each row in the dataset is the results of a survey by someone. The individualCount column is how many of that species of bird the person observed. This field can be NaN though as not all people track counts during their surveys. Because of this, we split the dataset so one subset contains only records where the count was tracked by the surveyor.

In [22]:
eod_counts = eod_data.loc[eod_data['individualCount'].notna()]
eod_counts['eventYear'] = eod_counts['eventDate'].dt.year
eod_counts.head(n=5)

/tmp/ipykernel_1041695/2253887078.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  eod_counts['eventYear'] = eod_counts['eventDate'].dt.year

,family,genus,species,countryCode,locality,stateProvince,individualCount,decimalLatitude,decimalLongitude,coordinateUncertaintyInMeters,eventDate,eventYear
0,Parulidae,Basileuterus,Basileuterus culicivorus,CO,Finca La Esmeralda - El Cairo - Valle del Cauc...,Valle del Cauca,1.0,4.733494,-76.209640,NaN,2020-07-04,2020
2,Ardeidae,Egretta,Egretta caerulea,TT,Rahamut Trace,Siparia,2.0,10.200900,-61.481125,NaN,2020-09-06,2020
3,Parulidae,Setophaga,Setophaga pitiayumi,AR,Cañada de Grass,Santa Fe,1.0,-29.918184,-60.310024,NaN,2020-05-01,2020
4,Ardeidae,Zebrilus,Zebrilus undulatus,BR,Alta Floresta--rio Santa Helena,Mato Grosso,2.0,-9.926295,-56.308765,NaN,2016-02-20,2016
5,Thraupidae,Thraupis,Thraupis palmarum,CO,"Tenasucá Lodge,vereda quintas Colombia,San Ant...",Cundinamarca,3.0,4.599418,-74.348170,NaN,2019-10-28,2019

## Build hierarchical tables

In [24]:

ht1 = eod_counts.groupby(['countryCode','eventYear','species'])['individualCount'].sum().reset_index().set_index(['countryCode','eventYear','species']).sort_values(by='individualCount', ascending=False)
ht1.head(n=20)

                                                   individualCount
countryCode eventYear species
PE          2019      Sula variegata                     4946641.0
CO          2019      Progne elegans                     4642509.0
PE          2019      Leucocarbo bougainvilliorum        4363027.0
            2018      Leucocarbo bougainvilliorum        3378588.0
CO          2020      Progne elegans                     2389251.0
CL          2018      Puffinus griseus                   2135347.0
PE          2018      Sicalis taczanowskii               2109318.0
            2020      Leucophaeus pipixcan               1846018.0
            2019      Leucophaeus pipixcan               1604528.0
            2017      Leucocarbo bougainvilliorum        1529533.0
CO          2020      Buteo swainsoni                    1510595.0
VE          2018      Phoenicopterus ruber               1510429.0
                      Spiza americana                    1270458.0
CO          2020      Buteo platypterus                  1167429.0
AR          2020      Phalaropus tricolor                1159101.0
            2018      Zenaida auriculata                 1151879.0
PE          2018      Sula variegata                     1023546.0
BR          2019      Progne subis                       1012955.0
PE          2018      Leucophaeus pipixcan                981309.0
AR          2018      Spheniscus magellanicus             840304.0